.filter-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  width: 300px;

  &__rating {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }
}
