.game-list-content {
    display: flex;
    gap: 1rem;
    flex: 1;

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 0.5rem;
    span {
      display: inline-block;

      min-width: 120px;
    }
  }
  &__context {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__platform {
    display: flex;
    flex-wrap: wrap;
  }

  &__rating {
    background-color: var(--background-color-red);
    padding: 4px;
    border-radius: 4px;
  }

  &__tags {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;

    div {
      border: 1px solid #a8a8a8;
      padding: 4px;
      border-radius: 4px;
    }
  }
}
