.carousel {
  position: relative;
  flex: 1.1 1;

  &__main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__image-small-block {
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 2;
  }



  &__image-small {
    z-index: 1;
    img {

    }
  }
}



@media screen and (max-width: 750px) {
  .carousel__image-small img {
    width: 60px;
    height: 40px;
  }
}

@media screen and (max-width: 600px) {
  .carousel__main-image {
    height: 220px;
  }

  .carousel__image-small img {
    width: 30px;
    height: 30px;
  }
}
