* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #f1efef;
  font-size: 16px;
}

:root {
  --background-color-red: #dc3838;
  --background-color-red-hover: #f15656;
  --background-color-red-active: #ef6565;
  --text-color-purple: #a855f7;
  --button-color-purple: #9333ea;
  --color-primary: #1f2937;
  --text-color-gray: #b0b0b0;
}

html body {
  background-color: #0d131e;
}

h1,
h2,
h3 {
  margin: 0;
}

body a {
  text-decoration: none;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

.carousel .carousel-indicators {
  display: none;
}

.carousel .carousel-control-next {
  z-index: 101;
  height: 60px;
  top: 50%;
  transform: translateY(-50%);
}

.carousel .carousel-control-prev {
  z-index: 101;
  height: 60px;
  top: 50%;
  transform: translateY(-50%);
}

body .offcanvas {
  background-color: #2a2121;
}

body .offcanvas-header .btn-close {
  background-color: #fcfcfc;
}

body .MuiSlider-root {
  width: 120px;
}

body .btn-primary {
  background-color: var(--background-color-red);
  border-color: var(--background-color-red);
}

body .btn-primary:hover {
  background-color: var(--background-color-red-hover);
  border-color: var(--background-color-red-hover);
}

body .btn-primary:active {
  background-color: var(--background-color-red-active) !important;
  border-color: var(--background-color-red-hover) !important;
}

body .MuiList-root {
  background-color: #413939;
}

body .container {
  max-width: 1200px;
  padding: 0 24px;
}
