.game-card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70%;

  &__platform-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100%;
  }

  &__platform {
    display: inline-block;
    color: #b0b0b0;
    flex-shrink: 0;
    font-size: 12px;
  }


  &__discount {
    color: #b0b0b0;
    border-radius: 4px;
    padding: 4px;
  }
}

@media screen and (max-width: 880px) {
  .game-card {
    width: 90%;
    margin: 0 auto;
  }
}


